:root {
  --background-color: #b05555;
  --background-secondcolor: #FAF3E0;
  --background-threecolor: #000000;
  --main-color: #46a6ca;
  --second-color: #040404;
}

.App {
  text-align: center;
}

.Aligne {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recette {
  margin: 1%;
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: var(--background-color);
  border-radius: 15px;
}

.RecetteDescription {
  display: flex;
  flex-direction: row;
}

.headmenue {
  background-color: var(--background-threecolor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.headmenue div {
  margin: 0 10px;
}

.headmenue a {
  text-decoration: none;
  background-color: var(--main-color);
  color: var(--second-color);
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s;
}

.headmenue a:hover {
  background-color: #ff5733;
}

.bacgrounbody {
  background-color: var(--background-secondcolor);
}

.buttonlink {
  border-radius: 15px;
}

.buttontext {
  text-decoration: none;
  background-color: var(--main-color);
  color: var(--second-color);
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s;
}

.buttontext:hover {
  background-color: #ff5733;
}

form {
  background-color: var(--background-color);
  border-radius: 15px;
  padding: 25px;
  width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 6px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

html {
  background-color: var(--background-secondcolor);
}
.imgdetail{
  width: 40%;
}
.detail{
  justify-content: center;
}